*
{
	margin: 0;
	padding: 0;
	font-family: 'Plus Jakarta Sans', sans-serif;
}
header
{
	background-image:linear-gradient(rgba(0,0,0,0.3),rgb(0,0,0,0.2)), url(1.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}
ul
{
	float: right;
}
ul li
{
	list-style-type: none;
    display: inline-block;
    padding: 20px 20px;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.3s ease;
    letter-spacing: 3px;

    margin: 20px;

}
ul li a
{
	text-decoration: none;
	color: #fff;
}
ul li a:hover
{
	color: orangered;
	background-color: transparent;
	font-size: 19px;
	margin: 5px;

}

.logo
{
	float: left;
	font-size: 25px;
	color: orangered;
	border: 1px solid #fff;
	margin: 15px;
	background-color: white;
	padding: ;
	letter-spacing: 2px;

}
.logo:hover
{
	background-color: transparent;
}
.title
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
h2
{
	font-size: 60px;
	color: orangered;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.button
{
	position: absolute;
	top: 67%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn
{
	
	margin: 7px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 20px 20px;
	font-size: 35px;
}.btn:hover
{
	color: orangered;
	font-size: 40px;
}
.active
{
	color: orangered;
}